header{
    background-color: #58E8A1
}
h1{
    font-size: 50px;
    color: #030a00;
    text-align: center;
    margin-bottom: 5px;
    border: 5px solid #194b32 ;

}

nav{
    margin-top: -10px;
    margin-right: 20px;
    text-align: right;
    transform: translateY(-30px);

}

main{
    background-color: #92da76 ;
    min-height: calc(100vh - 200px) ;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.frogs {
    display: flex;
    justify-content: space-between;
}

.frog-bits {
    text-align: center;
    flex-basis: 30%;
}

.frog-link {
    font-weight: bold;
    font-size: 30px;
}



.middle-links {
    display: block;
}

footer {
    background-color: #58E8C9 ;
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    z-index: 2;

}
.footerstuff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flora {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
}

.gentleman {
    position: absolute; 
    align-items: center;
    width: 100px;
    height: auto;
    z-index: 2;  
}

p.github    {
    margin-right: 100px;
}

p.shoutsout {
    margin-left: 100px;
}