header{
    background-color: #58E8A1
}
h1{
    font-size: 50px;
    color: #030a00;
    text-align: center;
    margin-bottom: 5px;
    border: 5px;

}

nav{
    margin-top: -10px;
    text-align: right;
    transform: translateY(-30px);

}

main{
    background-color: #92da76 ;
}

.frogs {
    display: flex;
    justify-content: space-between;
}

.frog-bits {
    text-align: center;
    flex-basis: 30%;
}

.frog-link {
    font-weight: bold;
    font-size: 30px;
}



.middle-links {
    display: block;
}

footer {
    background-color: #58E8C9 ;
    display: flex;
    justify-content: flex-start;   
    padding: 0px;

}

footer p {
    margin: 0 20px;
    margin-right: 20px;
}

footer a {
    display: inline-block;
    float: left;
}
