h1{

    text-align: center;

    margin-bottom: 5px;

    border: 5px;
}

nav{

    text-align: right;

    transform: translateY(-30px);

}

.frogs {
    display: flex;
    justify-content: space-between;
}

.frog-bits {
    text-align: center;
    flex-basis: 30%;
}

.frog-link {
    font-weight: bold;
    font-size: 30px;
}



.middle-links {
    display: block;
}

footer {
    display: flex;
    justify-content: flex-start;   
    padding: 10px;
}

footer p {
    margin: 0;
    margin-right: 20px;
}

footer a {
    display: inline-block;
    float: left;
}
